.sec_1{
    
    &_ai-c{
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    &_head{
        >h4{
            padding-top: 100px;
        }
    }
    &_img{
        >img:not(:last-child){
            // height: 20.437rem;
            // width: 23.437rem;
            max-width: 280px;
            height: fit-content;
            width: fit-content;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        >img:last-child{
            position: absolute;
            height: 694px;
            right: -208px;
            top: 449px;
        }
    }
    &_text{
        @include  breakpoint-up(medium){
            text-align: left!important;
            margin-left: 60px;
        }
        &_1{
            >h4{
                color: $verydarkdesaturatedblue;
                margin-bottom: 28px;
                @include  breakpoint-up(medium){
                    margin-top: 60px;
                }
            }
            >p{
                color: black;
                font-family: $overpass;
                font-size: 20px;
                line-height: 1.6;
                margin-left: 30px;
                margin-right: 30px;
                @include  breakpoint-up(medium){
                    text-align: left!important;
                    margin-left: inherit;
                }
            }

            
        }

        &_ov-s{
            margin-top: 54px;
        }
    }
}


.flex-body{
    @include breakpoint-up(medium){
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
        flex: 1 1;
        
    }
}

.flex-con{
    @include breakpoint-up(medium){
        flex: 1 1;
        flex-shrink: 1;
        flex-grow: 1;
    }
}


.sec_2{
    background-color: $verydarkgrayblue;
    border-top-right-radius: 125px;
    border-bottom-left-radius: 125px;
    margin-top: 274px;
    &_ai-c{
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    @include breakpoint-up(medium){
        display: grid;
        grid-template-columns: repeat(2, .5fr);
    }
    &_hero_img{
        content: "";
        >img:first-child{
            background-image: url(/images/bg-pattern-circles.svg);
            position: absolute;
            
            background-size: cover;
            top: 1829px;
            max-width: 400px;
            right: 19px;
            overflow-x: hidden!important;
        }
        >img:last-child{
            background-image: url(/images/bg-pattern-circles.svg);
            position: absolute;
            left: 0px;
            top: 1207px;
            background-repeat: no-repeat;
            
            padding-top: 20px;
            background-size: cover;
            
            background-position: 1px -134px;
        }
    }
    &_content{
        
        >h4{
            padding-top: 254px;
            margin-top: 231px;
            color: $white;
            @include breakpoint-up(medium){
                margin-top: 0;
                padding-top: 60px;
                text-align: left;
            }
        }
        >p{
            color: $white;
            font-family: $overpass;
            font-size: 20px;
            line-height: 1.6;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 40px;
            padding-bottom: 125px;
            @include breakpoint-up(medium){
                margin-bottom: 0;
                margin-left:0px;
                padding-bottom: 60px;
                text-align: left;
            }
        }
    }
}

.sec_3{
    @include breakpoint-up(medium){
        margin-top: 160px;
        display: grid;
        grid-template-columns: repeat(2, .5fr);
    }
    &_img{
        margin-top: 80px;
        margin-bottom: 60px;
        >img:last-child{
            max-width:400px;
        }
        >img:first-child{
            position: absolute;
            height: 600px;
            left: -120px;
            //top: 449px;
        }

        
    }
    &_text{

        &_1{
            @include breakpoint-up(medium){
                padding-top: 200px;
            }
        }
        &_1 , &_2{
            
            >h4{
                color: $verydarkdesaturatedblue;
                text-align: center;
                font-size: 35px;
                @include breakpoint-up(medium){
                    text-align: left;
                    
                }
            }
            >p{
                color: black;
                padding: 0px 20px;
                font-family: $overpass;
                font-size: 20px;
                line-height: 1.6;
                margin-top: 40px;
                margin-bottom: 55px;
                @include breakpoint-up(medium){
                    text-align: left;
                    padding: 0px 0px;
                }
            }
        }
        
    }
}

