//mobile 375px
//desktop 1440px

//text , headings

$lightred : hsl(356, 100%, 66%);
$verylightred :hsl(355, 100%, 74%);
$verydarkblue :hsl(208, 49%, 24%);
$white : hsl(0,0%,100%);
$greyishblue : hsl(240, 2%, 79%);
$verydarkgrayishblue : hsl(207, 13%, 34%);
$verydarkblackblue :hsl(240, 10%, 16%);

//gradient colours 

$verydarkgrayblue: hsl(237, 17%, 21%);
$verydarkdesaturatedblue: hsl(237, 23%, 32%);

//fonts
$fontsm : 16px;

$overpass : 'Overpass', sans-serif;
$ubuntu :'Ubuntu', sans-serif;